body, html {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #000;
	color: #fff;
	font-size: 15pt;
	font-weight: 300;
	overflow: hidden;
	/*background-color: rgb(50,50,50);*/
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}
* {
	margin: 0;
	padding: 0;
}

div#sliders {
	margin: 15px;
}

button {
    background-color: #323232;
    border: none;
    color: white;
    padding: 20px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

button.on {
	background-color: #4CAF50;
}
button.off {
	background-color: #f44336;
}

div.sliderItem {
	clear:both;
}
div.sliderItem div.sliderName {
	width: 100%;
}
div.sliderItem div {
	float: left;
}
div.sliderItem button {
	padding: 5px 5px;
	width: 52px;
	height: 53px;
	margin-top: 46px;
}
div.sliderItem button.on {
	margin-left: 10px;
}

div.sliderItem div.slider {
	width: 80%;
}
div.sliderItem div.sliderButton {
	width: 10%;
}

