body, html {
	/* width: 100%; */
	/* height: 100%; */
	font-family: 'Catamaran', 'Open Sans', sans-serif;
	background-color: #000;
	color: #fff;
	font-size: 15pt;
	font-weight: 300;
	/*overflow: hidden;*/
	/*background-color: rgb(50,50,50);*/
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	overflow: hidden;
	overflow-x:hidden;
	overflow-y:hidden;
	position: fixed;
}
html {
	/* height: 300px; */
	/* background-color: #4CAF50; */
}

body {
	width: 480px;
	/* height: 800px; */
	transform-origin: top left;
	/* background-color: aqua; */
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}
* {
	margin: 0;
	padding: 0;
}

div#sliders {
	margin: 15px;
}

button {
    background-color: #323232;
    border: none;
    color: white;
    padding: 20px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

button.on {
	background-color: #4CAF50;
}
button.off {
	background-color: #f44336;
}

div.sliderItem {
	clear:both;
	background-color: #323232;
	margin-bottom: 5px;
	padding: 5px;
}
div.sliderItem > div.sliderName {
	width: 100%;
}
div.sliderItem > div {
	float: left;
}
div.sliderItem button {
	padding: 5px 5px;
	width: 52px;
	height: 53px;
	margin-top: 46px;
}
div.sliderItem button.on {
	margin-left: 10px;
}

div.sliderItem div.slider {
	width: 80%;
	float:left;
}
div.sliderItem div.sliderButton {
	width: 10%;
	float: left;
}

div.sliderItem div.additionalSlider {
	clear: both;
	width: 80%;
	float: none;
	padding-left: 10%;
	padding-right: 10%;
}


div#netatmo div.tempView
{

	font-size: 36px;
	line-height: 30px;
	font-weight: 300;
} 

div#netatmo div.tempView div.temp
{
	font-size: 75px;
	line-height: 45px;
	font-weight: bold;
	position: relative;
	width: max-content;
	/* right: 0; */
}
div#netatmo div#inside.tempView div.temp
{
	width: max-content;

}
div#netatmo div.tempView
{
	/* width: 24%; */
	font-size: 30px;
	/* border-bottom: 1px solid #ccc; */
	/* border-left: none; */
	margin: 0px;
	font-weight: bold;
	color: white;
}

div#netatmo div.tempView
{
	font-size: 18px;
}
div#netatmo .grad {
	font-size: 41%;
	color: #ccc;
	padding-left: 5px;
}

span.smallDecimal {
	font-size: 50%;
}
div#netatmo div.subvalues {
	clear: both;
}
div#netatmo div.weather {
	position: absolute;
	text-align: center;
	width: 95%;
	font-size: 70px;
	padding-left: 5%;
}

div#netatmo span.trend
{
	font-size: 42px;
	/* line-height: 41px; */
	/* float: left; */
	/* margin-left: -60px; */
	/* margin-bottom: 15px; */
	display: block;
	position: absolute;
	top: -14px;
	right: -12px;
}
div#netatmo div.subvalue
{
	float: left;
	font-weight: 300;
	font-size: 30px;
	margin-right: 10px;
}

div#netatmo div#outside div.subvalue {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
}
div#netatmo div#outside div.temp {
	float: right;
	text-align: right;
}
div#netatmo div#outside {
	float: right;
	padding-right: 17px;
}
div#netatmo div#inside {
	padding-left: 17px;
	float: left;
}

div#netatmo {
	position: relative;
	margin-top: 45px;
	margin-bottom: 10px;
}
div#netatmo div.forecast {
	clear: both;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}
div#netatmo div.forecast div.day {
	float: left;
	width: 20%;
	font-size: 15px;
	line-height: 15px;
}
div#netatmo div.forecast div.day div {
	text-align: center;
}
div#netatmo div.forecast div.day div.icon {
	font-size: 37px;
	margin-top: 10px;
}
div#netatmo div.forecast div.day div.temp {
	font-size: 25px;
	margin-top: 5px;
}

div#overview div.row
{
	clear: both;
}
div#overview div.separator
{
	color: #323232;
	font-size: 20px;
	margin-bottom: 5px;
	/* margin-top: 5px; */
	padding: 0;
	padding-top: 15px;
	clear: both;
	padding-left: 0;

}

div#overview div.btn
{
	float: left;
	/* width: 24%; */
	font-size: 30px;
	border: 1px solid #000;
	background-color: #121212;
	margin: 0px;
	padding: 7px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: lighter;
	text-align: center;
}

div#overview div.btn.halb
{
	width: calc(50% - 42px);
}
div#overview div.btn.viertel
{
	width: calc(25% - 42px);
}
div#overview div.btn.fuenftel
{
	width: calc(20% - 42px);
}
div#overview div.btn.voll
{
	width: calc(100% - 42px);
}


div#time {
	text-align: center;
	/* position: absolute; */
	width: 100%;
	/* padding-top: 5px; */
	/* padding-bottom: 10px; */
	font-size: 92px;
	/* line-height: 48px; */
	/* background-color: black; */
	color: white;
	/* height: 50px; */
	/* z-index: 100; */
	/* top: 310px; */
	margin-top: 3px;
	margin-bottom: 15px;
}
div#time div.clock {
	font-weight: bold;
	width: 100%;
	/* float: left; */
	text-align: center;
	line-height: 68px;
}
div#time div.date {
	width: 480px;
	font-size: 42px;
	line-height: 31px;
	text-align: center;
	/* float: right; */
}

div#tado {
	/* background-color: #e9a020; */
	width: 480px;
	height: 150px;
	margin-top: 5px;
	position: relative;
	border-radius: 10px;
	color: black;
}

div#tado div {
	position: absolute;
}

div#tado div.tempIst {
	font-size: 76px;
	font-weight: 900;
	left: 19px;
	top: 0px;
	line-height: 85px;
}

div#tado div.tempSoll {
	font-size: 45px;
	font-weight: 600;
	left: 282px;
	top: 13px;
	width: 150px;
	text-align: center;
}

div#tado div.up {
	left: 403px;
	top: 6px;
	font-size: 65px;
}
div#tado div.down {
	left: 242px;
	top: 6px;
	font-size: 65px;
}

div#tado div.auto
{
	border-radius: 20px;
	border: 2px solid black;
	width: 110px;
	height: 40px;
	left: 301px;
	top: 93px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	line-height: 37px;
	background-color: none;
	color: black;
}

div#tado div.icon
{
	left: 19px;
	top: 89px;
	font-size: 44px;
}

div#tado div.icon img
{
	height: 41px;
	width: auto;
}
div#tado div.heatingPower {
	top: 98px;
	left: 90px;
}

div#tado div.heatingPower img {
	width: 40px;
	height: 40px;
}

div#tado .grad {
	font-size: 50%;
	color: #4b4b4b;
}

