body, html {
	/* width: 100%; */
	/* height: 100%; */
	/* font-family: 'Catamaran', 'Open Sans', sans-serif; */
	font-family: freight-sans-compressed-pro, sans-serif;
	background-color: #000;
	color: #d3ff82;
	font-size: 18pt;
	font-weight: 300;
	/*overflow: hidden;*/
	/*background-color: rgb(50,50,50);*/
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	overflow: hidden;
	overflow-x:hidden;
	overflow-y:hidden;
	position: fixed;
	width: 600px;
	height: 1024px;
}
html {
	/* height: 300px; */
	/* background-color: #4CAF50; */
}

body {
	width: 600px;
	/* height: 800px; */
	transform-origin: top left;
	/* background-color: aqua; */
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}
* {
	margin: 0;
	padding: 0;
}

div#sliders {
	margin: 18px;
}

button {
    background-color: #323232;
    border: none;
    color: white;
    padding: 25px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

button.on {
	background-color: #4CAF50;
}
button.off {
	background-color: #f44336;
}

div.sliderItem {
	clear:both;
	background-color: #323232;
	margin-bottom: 6px;
	padding: 6px;
}
div.sliderItem > div.sliderName {
	width: 100%;
}
div.sliderItem > div {
	float: left;
}
div.sliderItem button {
	padding: 6px 6px;
	width: 65px;
	height: 65px;
	margin-top: 57px;
}
div.sliderItem button.on {
	margin-left: 12px;
}

div.sliderItem div.slider {
	width: 80%;
	float:left;
}
div.sliderItem div.sliderButton {
	width: 10%;
	float: left;
}

div.sliderItem div.additionalSlider {
	clear: both;
	width: 80%;
	float: none;
	padding-left: 10%;
	padding-right: 10%;
}
div#infoPanel {
	width: 600px;
	height: 325px;
	overflow: hidden;
	position: absolute;
    top: 150px;
}
div#news {
	position: absolute;
	height: 317px;
	border-radius: 12px;
	width: 600px;
	top: 4px;
	overflow: hidden;
}
div#news img {
    width: 100%;
    height: auto;
	position: absolute;
	border-radius: 12px;
}

div#news .headline {
    height: auto;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 7px;
    padding-top: 20px;
    font-size: 31px;
    line-height: 33px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.56) 49%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.0) 0%,rgba(0,0,0,0.56) 49%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%,rgba(0,0,0,0.56) 49%,rgba(0,0,0,1) 100%);
}

div#netatmo div.tempView
{

	font-size: 45px;
	line-height: 37px;
	font-weight: 300;
} 

div#netatmo div.tempView div.temp
{
	font-size: 93px;
	line-height: 56px;
	font-weight: bold;
	position: relative;
	width: max-content;
	/* right: 0; */
}
div#netatmo div#inside.tempView div.temp
{
	width: max-content;

}
div#netatmo div.tempView
{
	/* width: 24%; */
	font-size: 37px;
	/* border-bottom: 1px solid #ccc; */
	/* border-left: none; */
	margin: 0px;
	font-weight: bold;
	color: white;
}

div#netatmo div.tempView
{
	font-size: 22px;
}
div#netatmo .grad {
	font-size: 41%;
	color: #ccc;
	padding-left: 5px;
}

span.smallDecimal {
	font-size: 50%;
}
div#netatmo div.subvalues {
	clear: both;
}
div#netatmo div.weather {
	position: absolute;
	text-align: center;
	width: 95%;
	font-size: 87px;
	padding-left: 5%;
}

div#netatmo span.trend
{
	font-size: 52px;
	/* line-height: 41px; */
	/* float: left; */
	/* margin-left: -60px; */
	/* margin-bottom: 15px; */
	display: block;
	position: absolute;
	top: -17px;
	right: -15px;
}
div#netatmo div.subvalue
{
	float: left;
	font-weight: 300;
	font-size: 37px;
	margin-right: 12px;
}

div#netatmo div#outside div.subvalue {
	float: right;
	margin-right: 0px;
	margin-left: 12px;
}
div#netatmo div#outside div.temp {
	float: right;
	text-align: right;
}
div#netatmo div#outside {
	float: right;
	padding-right: 21px;
}
div#netatmo div#inside {
	padding-left: 21px;
	float: left;
}

div#netatmo {
	position: relative;
	top: 56px;
	/* margin-top: 45px; */
	/* margin-bottom: 10px; */
}
div#netatmo div.forecast {
	clear: both;
	width: 100%;
	padding-top: 18px;
	padding-bottom: 18px;
}
div#netatmo div.forecast div.day {
	float: left;
	width: 20%;
	font-size: 18px;
	line-height: 18px;
}
div#netatmo div.forecast div.day div {
	text-align: center;
}
div#netatmo div.forecast div.day div.icon {
	font-size: 46px;
	margin-top: 12px;
}
div#netatmo div.forecast div.day div.temp {
	font-size: 31px;
	margin-top: 6px;
}

div#overview div.row
{
	clear: both;
}
div#overview div.separator
{
	color: #323232;
	font-size: 25px;
	margin-bottom: 6px;
	/* margin-top: 5px; */
	padding: 0;
	padding-top: 18px;
	clear: both;
	padding-left: 0;

}

div#overview div.btn
{
	float: left;
	/* width: 24%; */
	font-size: 37px;
	border: 1px solid #000;
	background-color: #121212;
	margin: 0px;
	padding: 9px;
	padding-left: 25px;
	padding-right: 25px;
	font-weight: lighter;
	text-align: center;
}

div#overview div.btn.halb
{
	width: calc(50% - 52px);
}
div#overview div.btn.viertel
{
	width: calc(25% - 52px);
}
div#overview div.btn.fuenftel
{
	width: calc(20% - 52px);
}
div#overview div.btn.voll
{
	width: calc(100% - 52px);
}


div#time {
	text-align: center;
	/* position: absolute; */
	width: 100%;
	/* padding-top: 5px; */
	/* padding-bottom: 10px; */
	font-size: 115px;
	/* line-height: 48px; */
	/* background-color: black; */
	color: white;
	/* height: 50px; */
	/* z-index: 100; */
	/* top: 310px; */
	margin-top: 4px;
	margin-bottom: 18px;
}
div#time div.clock {
	font-weight: bold;
	width: 100%;
	/* float: left; */
	text-align: center;
	line-height: 85px;
}
div#time div.date {
	width: 100%;
	font-size: 52px;
	line-height: 39px;
	text-align: center;
	/* float: right; */
}

div#tado {
	/* background-color: #e9a020; */
	width: 600px;
	height: 187px;
	margin-top: 6px;
	position: relative;
	border-radius: 12px;
	color: black;
}

div#tado div {
	position: absolute;
}

div#tado div.tempIst {
	font-size: 95px;
	font-weight: 900;
	left: 24px;
	top: 0px;
	line-height: 106px;
}

div#tado div.tempSoll {
	font-size: 56px;
	font-weight: 600;
	left: 352px;
	top: 16px;
	width: 187px;
	text-align: center;
}

div#tado div.up {
	left: 503px;
	top: 7px;
	font-size: 81px;
}
div#tado div.down {
	left: 302px;
	top: 7px;
	font-size: 81px;
}

div#tado div.auto
{
	border-radius: 25px;
	border: 2px solid black;
	width: 137px;
	height: 50px;
	left: 376px;
	top: 116px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	line-height: 46px;
	background-color: none;
	color: black;
}

div#tado div.icon
{
	left: 24px;
	top: 111px;
	font-size: 55px;
}

div#tado div.icon img
{
	height: 51px;
	width: auto;
}
div#tado div.heatingPower {
	top: 122px;
	left: 112px;
}

div#tado div.heatingPower img {
	width: 50px;
	height: 50px;
}

div#tado .grad {
	font-size: 50%;
	color: #4b4b4b;
}

