div#tunaknob {
    position: absolute;
    width: 160px;
    height: 160px;
    left: 220px;
    top: 850px;
    /* for development */
    /* top: 420px; */
    background-color: #202020;
    border-radius: 80px
}
div#tunaknob div{
    pointer-events: none;
    touch-action: none;
}

div#tunaknob div.center {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50px;
    top: 50px;
    background-color: #4b4b4b;
    border-radius: 30px
}


div#tunaknob div.circle {
    position: absolute;
    width: 160px;
    height: 160px;
    left: -4px;
    top: 850px;
    top: -4px;
    background-color: transparent;
    border-radius: 80px;
    border: 4px white solid;
}

div#tunaknob div.touchIndicator {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 50px;
    top: 50px;
    background-color: #fff;
    border-radius: 12px
}
