div#tv {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    /* height: 100%; */
    left: 0;
}

div#tv div.btn{
	/* float: left; */
	margin: 1px;
	background-color: #202020;
	height: 187px;
	position: relative;
    border-radius: 12px;
    position: absolute;
    top: 849px;
    width: 100%;
    left: 200px;
}

div#tv div.halb {
	width: calc(50% - 2px);
}
div#tv div.drittel {
	width: calc(33.3% - 2px);
}
div#tv div.btn.smaller {
	height:142px;
}

div#tv div.btn div.title{
    color: #ccc;
    font-size: 19px;
    margin-bottom: 1px;
    margin-top: 6px;
    text-align: center;
}

div#tv div.btn div.audiostate{
	position: absolute;
	/* width: 100%; */
	top: 52px;
	left: 67px;
	font-size: 52px;
}

div#tv div.btn div.audiostate img{
	width: 54px;
	height: 54px;
}
div#tv div.btn div.audiostate span.audioicon{
    font-size: 37px;
    line-height: 61px;
    width: 100%;
    color: #fff;
}
/* --------------------- bis hier ist es *1,25 --------------------*/
div#tv div#tvControl {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    height: 782px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 1);
    border: 4px solid white;
    z-index: 200;
}

div#tv div.demo {
    font-size: 12px;
    position: absolute;
}


div#tv div#tvControl div.navigator {
    position: absolute;
    width: 320px;
    height: 320px;
    background-color: #121212;
    border-radius: 160px;
    border: 1px solid #ccc;
    right: 10px;
    top: 250px;
}
div#tv div#tvControl div.navigator div {
    position: absolute;
    padding: 20px;
}

div#tv div#tvControl div.navigator div.up {
    left: 108px;
    top: 0px;
}
div#tv div#tvControl div.navigator div.right {
    left: 214px;
    top: 100px;
}
div#tv div#tvControl div.navigator div.left {
    left: 0px;
    top: 100px;
}
div#tv div#tvControl div.navigator div.down {
    left: 108px;
    top: 200px;
}
div#tv div#tvControl div.navigator div.ok {
    left: 101px;
    top: 100px;
    /* font-size: 50px; */
}
div#tv div#tvControl div.navigator div.home {
    left: 118px;
    top: 327px;
}
div#tv div#tvControl div.navigator div.home span{
    font-size: 40px;
}
div#tv div#tvControl div.navigator div.exit {
    left: 239px;
    top: 285px;
    font-size: 40px;
}

div#tv div#tvControl div.navigator div.exit svg
{
    width: 45px;
    height: 80px;
}

div#tv div#tvControl div.navigator div.back {
    left: 10px;
    top: 295px;
    font-size: 40px;
}
div#tv div#tvControl div.navigator div.back span{

font-size: 40px;
}

div#tv div#tvControl div.power {
    left: 30px;
    top: 654px;
    font-size: 80px;
    position: absolute;
}
div#tv div#tvControl div.navigator div span{
    font-size: 80px;
}
div#tv div#tvControl div.launchbtn{
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    line-height: 110px;
}

div#tv div#tvControl div.launchbtn.high{
    /* color: #FA514E; */
    background-color: #5A0203;
}
div#tv div#tvControl div.netflix{
    left: 0px;
    top: 0px;
}
div#tv div#tvControl div.netflix svg{
    width: 120px;
    margin-top: 40px;
}

div#tv div#tvControl div.ps4{
    left: 154px;
    top: 0;
}
div#tv div#tvControl div.ps4 svg{
    width: 120px;
    margin-top: 10px;
    height: 90px;
}

div#tv div#tvControl div.amazon{
    left: 308px;
    top: 0;
}
div#tv div#tvControl div.amazon svg{
    width: 120px;
    margin-top: 20px;
    height: 70px;
}
div#tv div#tvControl div.settop{
    left: 0px;
    top: 115px;
}
div#tv div#tvControl div.live{
    left: 154px;
    top: 115px;
}

div#tv div#tvControl div.audio {
    left: 0px;
    position: absolute;
    font-size: 80px;
    padding: 30px;
}

div#tv div#tvControl div.audio.up {
    top: 230px;
}

div#tv div#tvControl div.audio.down {
    top: 450px;
}

div#tv div#tvControl div.audio.volume {
    top: 340px;
    text-align: center;
    width: 70px;
    margin: 0;
    padding: 0;
    left: 30px;
}

div#tv div#tvControl div.audio.close {
    bottom: 0px;
    right: 0px;
    width: 84px;
    left: unset;
}
