<!doctype html>
<html lang="en" ng-app="huedisplay"  ng-controller="AppCtrl">
	<head>
		<meta charset="utf-8">
		<title>SmartHome Display</title>
		<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,900' rel='stylesheet' type='text/css'> -->
		<!-- <link href="https://fonts.googleapis.com/css?family=Dosis:700" rel="stylesheet"> -->
		<link href="https://fonts.googleapis.com/css?family=Catamaran:700,400,300" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.5.1/rzslider.min.css">
		<link rel="stylesheet" href="css/owfont-regular.min.css">
		<link rel="stylesheet" href="css/app-slider.css">
		<link rel="stylesheet" href="css/fritz.css">
		<link rel="stylesheet" href="css/circle.css">
		<!-- <link rel="stylesheet" href="vendor/angular-ui-switch.min.css"> -->
		<link rel="stylesheet" href="css/ipad.css" media="(min-width: 1024px)">
		<link rel="stylesheet" href="css/overwrites.css">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-touch.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/5.8.0/rzslider.js"></script> -->
		<script src="vendor/rzslider/rzslider.js"></script>
		<!-- <script src="vendor/angular-long-press.min.js"></script> -->
		<script src="js/config.js"></script>
		<script src="js/global-functions.js"></script>
		
		<script src="js/app-slider.js"></script>
		<script src="js/lamp.directive.js"></script>
		<script src="js/hue.service.js"></script>
		<!-- <script src="js/lg.service.js"></script> -->
		<script src="js/hue.controller.js"></script>
		<!-- <script src="js/time.controller.js"></script> -->
		<!-- <script src="js/tado.controller.js"></script> -->
		<!-- <script src="js/netatmo.controller.js"></script> -->
		<!-- <script src="js/lights.controller.js"></script> -->
		<!-- <script src="js/tv.controller.js"></script> -->
		<!-- <script src="js/fritz.controller.js"></script> -->
		<!-- <script src="js/overview.controller.js"></script> -->
		<!-- <script src="vendor/angular-ui-switch.min.js"></script> -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/pe-icon-7-stroke.css">
		
		<!-- Optional - Adds useful class to manipulate icon font display -->
		<link rel="stylesheet" href="css/helper.css">



	</head>
	<body ng-style="bodyStyle">
		<!-- <div id="nav" style="display: none">
			<button ng-click="toggleState('heater')">Überblick</button>
			<button ng-click="toggleState('hue')">Hue</button>
		</div> -->
	<div id="hue" ng-controller="HueCtrl">
        <div id="rooms" style="display: none;">
		<div ng-repeat="room in rooms" class="sliderItem"  style="float:left;" ng-show="room.lights.length > 0">
            <div class="Room">
                {{room.name}}

            </div>
        </div>
    </div>
		<div id="sliders" class="parent">
				
				<div ng-repeat="light in lights | orderBy:'name'" class="sliderItem child">
					<div class="sliderName">{{light.name}}</div>
					<hue-lamp-sliders light="light"></hue-lamp-sliders>
					<div class="switchContainer" ng-click="toggleLight(light.id)" >
					<div class="switch"><img ng-src="img/icons8-toggle-{{light.state.on ? 'on' : 'off'}}-96.png" width="50" height="50" /></div>
				</div>
				</div>
				
				
		</div>
	</div>

	
	
	
	
		
	</body>
</html>